* {
  padding: 0;
  margin: 0;
  font-family: 'Nerko One', cursive;
}

body {
  background-color: #ADD8E6;
  position: relative;
}

.titolo {

  color: white;
  font-size: 100px;
  position: absolute;
  margin-left: 550px;
}

.piedipagina {
  color: black;
  position: absolute;
  font-size: 20px;
  padding-top: 830px;
  margin-left: 700px;

}

/* CONTENITORI */

.contenitore {
  background-color: #ADD8E6;
  position: absolute;
  margin-left: 400px;
  margin-top: 150px;

}

/* PRIMA RIGA DI CARTE */

.carta{
  width:180px;
  height: 205px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;

  /* background-color: red; */

  position: absolute;
}

.due {
    margin-left: 200px;
}

.tre {
  margin-left: 400px
}

.quattro {
  margin-left: 600px;
}

/* SECONDA RIGA DI CARTE */

.contenitore.due {
  position: absolute;
  margin-left: 400px;
  margin-top: 380px;
}

.sei {

  margin-left: 200px;
  background-color: white;
  background-image: url("../img/img01.png");
  background-size:cover;

}

.sette {
  margin-left: 400px;
}

.otto {
  margin-left: 600px;
}

/* TERZA RIGA DI CARTE */

.contenitore.tre {
  margin-top: 610px;
  margin-left: 400px;
}

.dieci {

  margin-left: 200px;
}

.undici {
  margin-left: 400px;
}

.dodici {
  margin-left: 600px;
}

/* HOOVER PER IL CAMBIO IMMAGINE */

.uno:hover {
  background-color: white;
  background-image: url(../img/img03.png);
  background-size: cover;
}
.due:hover {
  background-color: white;
  background-image: url(../img/img06.png);
  background-size: cover;
}

.tre:hover {
  background-color: white;
  background-image: url(../img/img01.png);
  background-size: cover;
}
.quattro:hover {
  background-color: white;
  background-image: url(../img/img05.png);
  background-size: cover;
}
.cinque:hover {
  background-color: white;
  background-image: url(../img/img04.png);
  background-size: cover;
}
/* .sei:hover {
  background-color: white;
  background-image: url(../img/img02.png);
  background-size: cover;
} */
.sette:hover {
  background-color: white;
  background-image: url(../img/img02.png);
  background-size: cover;
}
.otto:hover {
  background-color: white;
  background-image: url(../img/img06.png);
  background-size: cover;
}
.nove:hover {
  background-color: white;
  background-image: url(../img/img05.png);
  background-size: cover;
}
.dieci:hover {
  background-color: white;
  background-image: url(../img/img04.png);
  background-size: cover;
}
.undici:hover {
  background-color: white;
  background-image: url(../img/img05.png);
  background-size: cover;
}
.dodici:hover {
  background-color: white;
  background-image: url(../img/img03.png);
  background-size: cover;
}
