* {
  padding: 0;
  margin: 0;
  font-family: 'Nerko One', cursive;
}

.All-in {
  text-align: center;
}

header {
  height: auto;
  width: 100%;
  margin-top: 40px;
}

body {
  background-color: #ADD8E6;
}

footer {
  margin-top: 20px;
}

.titolo {
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px grey;
}

span {
  font-size: 20px;

}

.carta img, .carta span {
  display: none;
}

.carta {
  width: 180px;
  height: 210px;
  border: 1px solid black;
  background-color: white;
  z-index: -1;
  background-image: url("../img/pattern.png");
  background-size: contain;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.uno, .cinque, .nove {
  margin-left: 0px;
}

.uno, .due, .tre, .quattro {
  margin-top: 0;
}

.prima.imm {
  width: auto;
  height: 80%;
}
.contenitore {
  text-align: center;
  height: auto;
}

.carta:hover {
  background-image: none;
  position:relative;
}
.carta:hover img, .carta:hover span {
  display: block;
  text-decoration-color: green;
}
