* {
  padding: 0;
  margin: 0;
  font-family: 'Nerko One', cursive;
}

.All-in {
  text-align: center;
}

header {
  height: auto;
  width: 100%;
  margin-top: 40px;
}

body {
  background-color: #ADD8E6;
}

.titolo {
  color: white;
  font-size: 100px;
}

span {
  font-size: 20px;

}

.carta {
  width: 135px;
  height: 150px;
  border: 1px solid black;
  background-image: url("../img/pattern.png");
  background-size: contain;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.uno, .cinque, .nove {
  margin-left: 0px;
}

.prima.imm {
  width: auto;
  height: 80%;
}
.contenitore {
  text-align: center;
  height: auto;
}
